.containerForm {
	margin-bottom: 0.5rem;
}

.timeContainer {
	margin-right: 10px;
	font-size: 12px;
}
.usernameContainer {
	font-size: 16px;
}
.textContainer {
	font-size: 14px;
}

@media (min-width: 350px) and (max-width: 992px) {
	.timeContainer {
		margin-right: 10px;
		font-size: 12px;
	}
	.usernameContainer {
		font-size: 16px;
	}
	.textContainer {
		font-size: 14px;
	}
}