a.link {
	font-size: 14px;
	text-decoration: none;
	position: relative;
	transition: color 0.1s, background-color 0.1s;
	color: #5d5d5d;
	/*float: right;*/
	margin-right: 2px;
}

a.link:hover {
	color: #1890ff;
}

a.link:focus, a:active {
	color: #1890ff;
}

a.link::before {
	content: '';
	position: absolute;
	top: 100%;
	height: 1px;
	width: 100%;
	background-color: #1890ff;
	-webkit-transform-origin: center top;
	transform-origin: center top;
	-webkit-transform: scale(0, 1);
	transform: scale(0, 1);
	transition: color 0.1s, transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

a.link:active::before {
	background-color: #1890ff;
}

a.link:hover::before,
a.link:focus::before {
	-webkit-transform-origin: center top;
	transform-origin: center top;
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
}

.listPadding {
	margin-bottom: 10px;
}

.card {
	border: 1px solid rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}
.inputContainerSearch {
	margin-top: 1rem;
	margin-left: 0.25rem;
}
.bottomInformationContainer {
	border-radius: 10px;
	display: flex;
	align-items: center;
}

.bottomInformationTime {
	margin-right: 5px;
	font-size: 14px;
}

.bottomInformationButton {
	font-size: 14px;
	margin-left: 5px;
}

.sentimentGTContainer {
	margin: 0;
}

.sentimentGoogleTitleNegative {
	color: red;
	float: right;
	font-size: 14px;
	margin-right: 5px;
}

.sentimentGoogleTitlePositive {
	color: #3f8600;
	float: right;
	font-size: 14px;
	margin-right: 5px;
}

.sentimentGoogleTitleNeutral {
	color: #649DD1;
	float: right;
	font-size: 14px;
	margin-right: 5px;
}

.sentimentGAPos {
	font-size: 14px;
	color: #3f8600;
	align-items: end;
}

.sentimentGANeut {
	font-size: 14px;
	color: #649DD1;
}

.sentimentGANeg {
	font-size: 14px;
	color: red
}

.descriptionTitle {
	font-size: 14px;
}

@media (min-width: 350px) and (max-width: 992px) {
	.inputContainerSearch {
		margin-top: 0.5rem;
		margin-left: 0.25rem;
	}

	a.link {
		font-size: 12px;
		margin-right: 0.25rem;
	}

	.bottomInformationTime {
		margin-right: 5px;
		font-size: 12px;
	}

	.bottomInformationButton {
		font-size: 12px;
		margin-left: 5px;
	}

	.sentimentGTContainer {
		margin: 0;
	}

	.sentimentGoogleTitleNegative {
		color: red;
		float: right;
		font-size: 13px;
		margin-right: 5px;
	}

	.sentimentGoogleTitlePositive {
		color: #3f8600;
		float: right;
		font-size: 13px;
		margin-right: 5px;
	}

	.sentimentGoogleTitleNeutral {
		color: #649DD1;
		float: right;
		font-size: 13px;
		margin-right: 5px;
	}

	.sentimentGAPos {
		font-size: 13px;
		color: #3f8600;
		align-items: end;
	}

	.sentimentGANeut {
		font-size: 13px;
		color: #649DD1;
	}

	.sentimentGANeg {
		font-size: 13px;
		color: red
	}

	.descriptionTitle {
		font-size: 13px;
	}
}
